$darkblue: #3b3e6b;
$darkgray: #74757b;
$gray: #eff4f4;
$lightgray: #adb0c2;
$green: #2CD3B8;
$greenhead: #3fd6bc;
$darkgreen: #0da088;

$screen-xs: 480px;
$screen-sm: 560px;
$screen-md: 760px;
$screen-lg: 1020px;
$screen-xl: 1200px;

@mixin xs {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}

@mixin button {
  text-align: center;
  font-size: 14.4px;
  padding: 17px 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 25px;
  background-color: $green;
  border: 1px solid $green;
  text-transform: uppercase;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.head {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 70px;
  background: url('../img/header.png') no-repeat 50% top;
  -webkit-background-size: cover;
  background-size: cover;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  z-index: 10;

  @include xl {
    background: url('../img/header.png') no-repeat 40% top;
  }

  @include lg {
    background: #fff;
    -webkit-justify-content: center;
    justify-content: center;
  }

  @include md {
    height: 170px;
    padding: 0 67px;
  }

  @include sm {
    padding: 0 22px;
    height: 120px;
  }

  .head-account {

    @include lg {
      display: none;
    }

    .head-account__link {
      margin-right: 35px;
      text-decoration: none;
      color: $darkblue;
      cursor: pointer;

      &:hover {
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
      }
    }
  }

  .head-menu {
    display: flex;
    align-items: center;

    .head-menu__list {
      @include lg {
        display: none;
      }

      .head-menu__link {
        margin-left: 20px;
        text-decoration: none;
        color: $darkblue;
        cursor: pointer;

        &:hover {
          text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .head-menu__img {
      margin-left: 25px;
      width: 115px;
      height: 28.6px;
      background: url('../img/sprite.png') 0 -120px;
      background-size: 100%;

      @include lg {
        margin: 0;
      }

      @include md {
        width: 235px;
        height: 59px;
        background: url('../img/sprite.png') 0 -92px;
      }

      @include xs {
        width: 135px;
        height: 34px;
        background: url(../img/sprite.png) 0 -52px;
        background-size: 100%;
      }
    }
  }

  .head-menu-burger {
    display: none;
    position: absolute;
    top: 36px;
    left: 67px;
    height: 25px;

    @include sm {
      left: 22px;
    }

    .head-menu-burger__link {
      background-color: $greenhead;
      width: 40px;
      height: 3px;

      @include md {
        width: 57px;
        height: 5px;
      }

      @include sm {
        width: 47px;
        height: 4px;
      }

      &:before {
        display: block;
        content: '';
        background-color: $greenhead;
        width: 40px;
        height: 3px;
        position: absolute;
        bottom: 11px;
        left: 0;

        @include md {
          width: 57px;
          height: 5px;
          bottom: 19px;
        }

        @include sm {
          width: 47px;
          height: 4px;
          bottom: 24px;
        }
      }

      &:after {
        display: block;
        content: '';
        background-color: $greenhead;
        width: 40px;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;

        @include md {
          width: 57px;
          height: 5px;
        }

        @include sm {
          width: 47px;
          height: 4px;
          bottom: 10px;
        }
      }
    }

    @include xl {
      display: block;
    }

    @include md {
      height: 43px;
      top: 65px;
    }

    @include sm {
      top: 42px;
    }
  }
  
  .head-mobile {
    display: none;

    &.active {
      @include xl {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.90);
        z-index: 100;
      }

      .head-mobile__link {
        @include xl {
          display: block;
          font-size: 30px;
          text-align: center;
          font-weight: 500;
          color: $darkblue;
          margin-bottom: 35px;
          text-decoration: none;
        }

        &:first-of-type {
          @include xl {
            margin-top: 190px;
          }
        }
      }

      .head-mobile__cross {
        @include xl {
          &:before {
            display: block;
            content: '';
            position: absolute;
            width: 40px;
            height: 4px;
            background-color: $greenhead;
            top: 70px;
            left: 50px;
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          &:after {
            display: block;
            content: '';
            position: absolute;
            width: 40px;
            height: 4px;
            background-color: $greenhead;
            top: 70px;
            left: 50px;
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.about {
  background-color: $gray;
  width: 100%;
  margin-top: 100px;
  padding: 70px 19.5%;

  @media (max-width: 1530px) {
    padding: 70px 15.5%;
  }

  @include xl {
    padding: 70px 10%;
  }

  @include md {
    padding: 70px 9%;
    margin-top: 170px;
  }

  @include sm {
    padding: 70px 22px;
    margin-top: 120px;

  }

  .about__heading {
    font-weight: 500;
    text-transform: uppercase;
    color: $darkblue;
    font-size: 36px;
    margin-bottom: 40px;
    width: 100%;

    @include md {
      font-size: 48px;
    }

    @include xs {
      font-size: 34px;
    }
  }

  .about__text {
    font-weight: 300;
    color: $darkgray;
    width: 60%;
    line-height: 28px;
    margin-bottom: 60px;
    font-size: 16px;

    @include md {
      font-size: 26px;
      width: 100%;
      line-height: 40px;
    }

    @include xs {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .about__button {
    width: 255px;
    @include button;

    &:hover {
      box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    }

    @include md {
      font-size: 24px;
      width: 100%;
      padding: 30px 0;
      border-radius: 45px;
    }

    @include xs {
      font-size: 18px;
      padding: 22px 0;
    }
  }

  .about__button_lite {
    border: 1px solid $darkblue;
    color: $darkblue;
    background-color: transparent;

    @include md {
      margin-top: 30px;
    }

    @include xs {
      margin-top: 20px;
    }
  }
}

.plan {
  padding: 70px 19.5% 90px;
  background-color: #fff;
  width: 100%;

  @media (max-width: 1530px) {
    padding: 70px 15.5% 90px;
  }

  @include lg {
    padding: 70px 10% 90px;
  }

  @include md {
    padding: 70px 9% 90px;
  }

  @include sm {
    padding: 70px 22px 90px;
  }

  .plan__heading {
    font-weight: 500;
    text-transform: uppercase;
    color: $darkblue;
    font-size: 30px;
    margin-bottom: 30px;
    width: 100%;

    @include md {
      font-size: 48px;
    }

    @include xs {
      font-size: 34px;
    }
  }

  .plan__text {
    font-weight: 300;
    color: $darkgray;
    margin-bottom: 120px;

    @include md {
      font-size: 26px;
      line-height: 40px;
    }

    @include xs {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .plan__steps {
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    @include xs {
      flex-wrap: wrap;
    }

    .plan__steps_first, .plan__steps_second {
      @include md {
        width: 50%;
        padding-left: 40px;
      }

      @include xs {
        width: 100%;
        padding-left: 0;
        text-align: center;
      }

      .plan__icon {
        font-size: 50px;
        margin-bottom: 40px;
        display: block;
      }

      .plan__icon_back {
        position: absolute;
        display: block;
        top: -95px;
        left: -50px;
        font-size: 150px;
        color: $darkblue;
        opacity: 15%;
        font-weight: 500;

        @include xs {
          left: -12px;
        }
      }
    }

    .plan__steps_second {
      @include xs {
        margin-top: 50px;
      }

      .plan__icon_back {
        @include xs {
          left: 30px;
        }
      }
    }

    .plan__steps_first {
      @include xs {
        margin-bottom: 50px;
      }
    }

    .plan__link {
      display: block;
      margin-right: 145px;
      color: $darkgreen;
      font-size: 18px;
      text-decoration: none;
      border-bottom: 1px solid $darkgreen;
      line-height: 17px;
      font-weight: 300;
      cursor: pointer;
      position: relative;

      @include md {
        display: inline;
        font-size: 26px;
        line-height: 40px;
      }

      @include xs {
        font-size: 20px;
        text-align: center;
        margin-right: 0;
      }
    }
  }
}

.setting {
  padding: 85px 19.5% 30px;
  background-color: $gray;
  width: 100%;

  @media (max-width: 1530px) {
    padding: 85px 15.5% 30px;
  }

  @include lg {
    padding: 85px 10% 30px;
  }

  @include md {
    padding: 85px 9% 30px;
  }

  @include sm {
    padding: 85px 22px 30px;
  }

  .setting__heading {
    font-weight: 500;
    text-transform: uppercase;
    color: $darkblue;
    font-size: 30px;
    margin-bottom: 75px;
    width: 100%;

    @include md {
      font-size: 48px;
    }

    @include xs {
      font-size: 34px;
    }
  }

  .setting__list {
    list-style-type: none;
    padding-left: 35px;

    .setting__link {
      font-size: 24px;
      color: $darkgreen;
      font-weight: 300;
      text-decoration: none;
      box-shadow: inset 0 -2px $darkgreen;
      display: inline;
      position: relative;
      cursor: pointer;

      @include md {
        font-size: 30px;
        line-height: 42px;
      }

      @include xs {
        font-size: 22px;
        line-height: 26px;
      }
    }

    .setting__link:before {
      display: block;
      content: '';
      border-radius: 50%;
      background-color: $darkblue;
      position: absolute;
      width: 8px;
      height: 8px;
      left: -34px;
      top: 10px;
    }

    .setting__text {
      font-size: 16px;
      color: $darkgray;
      font-weight: 300;
      margin: 18px 0 55px;
      width: 75%;

      @include md {
        font-size: 24px;
        line-height: 30px;
        width: 100%;
      }

      @include xs {
        font-size: 20px;
        line-height: 26px;
      }

      .setting__text_bold {
        font-weight: 500;
      }
    }
  }
}

.setting-app {
  background-color: #fff;

  .setting__heading {
    margin-bottom: 30px;
  }

  .setting__subheading {
    font-size: 16px;
    color: $darkgray;
    font-weight: 300;
    margin-bottom: 70px;

    @include md {
      font-size: 24px;
      line-height: 30px;
    }

    @include xs {
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.after {
  padding: 70px 19.5%;
  background-color: $gray;
  width: 100%;

  @media (max-width: 1530px) {
    padding: 70px 15.5%;
  }

  @include xl {
    padding: 70px 10%;
  }

  @include md {
    padding: 70px 9%;
  }

  @include sm {
    padding: 70px 22px;
  }

  .after__heading {
    font-weight: 500;
    text-transform: uppercase;
    color: $darkblue;
    font-size: 30px;
    margin-bottom: 30px;
    width: 100%;

    @include md {
      font-size: 48px;
    }

    @include xs {
      font-size: 34px;
    }
  }

  .after__subheading {
    font-size: 16px;
    color: $darkgray;
    font-weight: 300;
    margin-bottom: 65px;

    @include md {
      font-size: 24px;
      line-height: 30px;
    }

    @include xs {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .after__step {
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 30px;

    @include md {
      margin-bottom: 40px;
    }

    .after__icon {
      font-size: 74px;
      margin-right: 35px;
      display: block;

      @include md {
        font-size: 100px;
      }

      @include xs {
        font-size: 60px;
        margin-right: 20px;
      }
    }

    .after__text {
      font-size: 18px;
      color: $darkblue;
      font-weight: 300;

      @include md {
        font-size: 24px;
        line-height: 30px;
      }

      @include xs {
        font-size: 20px;
        line-height: 26px;
      }
    }

    .after__text_bold {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .after__button {
    width: 265px;
    @include button;
    margin-top: 45px;

    &:hover {
      box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    }

    @include md {
      font-size: 24px;
      width: 100%;
      padding: 30px 0;
      border-radius: 45px;
    }

    @include xs {
      font-size: 18px;
      padding: 22px 0;
    }
  }

  .after__button_lite {
    background-color: $darkblue;
    border: 1px solid $darkblue;

    @include md {
      margin-top: 30px;
    }

    @include xs {
      margin-top: 20px;
    }
  }
}

.contacts {
  padding: 65px 19.5% 75px;
  background-color: #fff;
  width: 100%;

  @media (max-width: 1530px) {
    padding: 65px 15.5% 75px;
  }

  @include lg {
    padding: 65px 10% 75px;
  }

  @include md {
    padding: 65px 9% 75px;
  }

  @include sm {
    padding: 65px 22px 75px;
  }

  .contacts__text {
    width: 65%;
    color: $darkblue;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 75px;
    line-height: 24px;

    @include md {
      font-size: 24px;
      line-height: 30px;
      width: 100%;
    }

    @include xs {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .contacts-list {
    display: grid;
    grid-template-rows: repeat(3, 40px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    grid-auto-flow: column;

    @media (max-width: 1350px) {
      grid-template-rows: repeat(4, 40px);
      grid-template-columns: repeat(2, 1fr);
    }

    @include md {
      grid-template-rows: repeat(7, 60px);
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 65px;
    }

    @include xs {
      grid-gap: 45px;
    }

    .contacts-list__item {

      &:nth-of-type(6) {
        grid-area: 1 / 3 / 2 / 4;
      }
      &:nth-of-type(7) {
        grid-area: 2 / 3 / 3 / 4;
      }

      @media (max-width: 1350px) {
        grid-area: auto!important;
      }

      .contacts-list__icon {
        height: 40px;
        width: 40px;
        font-size: 40px;
        margin-right: 30px;
        float: left;
        margin-bottom: 10px;

        @include md {
          font-size: 60px;
          height: 60px;
          width: 60px;
          margin-right: 40px;
        }

        @include xs {
          margin-right: 20px;
        }
      }

      .contacts-list__link {
        font-size: 18px;
        color: $darkgreen;
        text-decoration: none;
        font-weight: 300;
        box-shadow: inset 0 -2px $darkgreen;
        padding-bottom: 1px;
        display: inline;
        position: relative;
        top: 7px;

        @include md {
          font-size: 24px;
          top: 10px;
        }

        @include xs {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
  }
}

.footer {
  background-color: $darkblue;
  color: #fff;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 60px 70px;
  position: relative;

  @include lg {
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }

  @include md {
    padding: 60px 0 50px 67px;
    align-items: flex-start;
  }

  .footer-block {
    display: flex;

    @include lg {
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .footer-right {
      margin-right: 195px;

      @include xl {
        margin-right: 100px;
      }

      @include lg {
        margin-right: 0;
        text-align: center;
        margin-bottom: 30px;
      }

      @include md {
        margin-bottom: 0;
        text-align: left;
      }

      .footer-right__img {
        width: 150px;
        height: 39px;
        margin-bottom: 20px;
        display: inline-block;
        background: url('../img/sprite.png') -60px -2px;

        @include md {
          display: none;
        }
      }

      .footer-right__text {
        color: $lightgray;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 3px;

        @include md {
          color: white;
          font-size: 24px;
          font-weight: 300;
        }

        @include xs {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }

    .footer-tel {

      @include lg {
        text-align: center;
        margin-bottom: 30px;
      }

      @include md {
        display: none;
      }

      .footer-tel__img {
        height: 33px;
        width: 32px;
        margin-right: 10px;
        background: url('../img/sprite.png') -133px -55px;
        display: inline-block;
      }

      .footer-tel__link_main {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        position: relative;
        top: -7px;
        font-weight: 300;
      }

      .footer-tel__link {
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        text-decoration: none;
        margin: 20px 0 5px;
        display: block;
      }

      .footer-tel__text {
        color: $lightgray;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .footer-contact {

    @include lg {
      text-align: center;
      margin-bottom: 30px;
    }

    @include md {
      display: none;
    }

    .footer-contact__link {
      display: block;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
      text-decoration: none;
    }

    .footer-contact__text {
      color: $lightgray;
      font-size: 14px;
      font-weight: 500;
      margin: 15px 0 20px;
    }

    .footer-contact__link_img {
      height: 24px;
      width: 24px;
      margin-right: 20px;
      display: inline-block;

      &:first-of-type {
        background: url('../img/sprite.png') 0px -55px;
      }

      &:nth-of-type(2) {
        background: url('../img/sprite.png') -33px -55px;
      }

      &:nth-of-type(3) {
        background: url('../img/sprite.png') -65px -55px;
      }

      &:last-of-type {
        background: url('../img/sprite.png') -98px -55px;

        @include lg {
          margin-right: 0;
        }
      }
    }
  }

  .footer-chatbot {
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 57px;
    height: 55px;
    background: url('../img/sprite.png');

    @include md {
      display: none;
    }
  }
}

.active-head {
  display: block!important;
  animation-duration: 2s;
  animation-name: slide;

  @keyframes slide {
    from {
      margin-left: -50%;
      opacity: 0;
    }

    to {
      margin-left: 0;
      opacity: 1;
    }
  }
}
